<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <h2>Acerca de Tech4Amazonia</h2>
        <p>Todas las comunidades Tech de La Paz, se juntaron con un solo
          objetivo apoyar a nuestra Chiquitanía, realizando un ciclo de charlas y talleres para recaudar
          fondos y combatir los incendios en nuestra Chiquitanía.</p>
      </div>
      <div class="col-lg-3">
        <h3>Donde</h3>
        <p>La Paz, Bolivia</p>
      </div>
      <div class="col-lg-3">
        <h3>Cuando</h3>
        <p>Mes de <br>Septiembre</p>
      </div>
    </div>
  </div>
</section>
