<section id="buy-tickets" class="section-with-bg wow fadeInUp">
  <div class="container">

    <div class="section-header">
      <h2>Donaciones</h2>
      <p>Si desea puede realizar sus donaciones directamente con las Organizaciones con las que estamos trabajando.</p>
      <p>Mayor información en sus respectivas paginas</p>
    </div>

    <!-- <div class="row">

      <div class="col-lg-6">
        <div class="card mb-5 mb-lg-0">
          <div class="card-body">
            <h5 class="card-title text-muted text-uppercase text-center"></h5>
            <h6 class="card-price text-center">$250</h6>
            <hr>
            <ul class="fa-ul">
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Regular Seating</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Coffee Break</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Custom Badge</li>
              <li><span class="fa-li"><i class="fa fa-check"></i></span>Community Access</li>
              <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>Workshop Access</li>
              <li class="text-muted"><span class="fa-li"><i class="fa fa-times"></i></span>After Party</li>
            </ul>
            <hr>
            <div class="text-center">
              <button type="button" class="btn" data-toggle="modal" data-target="#buy-ticket-modal"
                data-ticket-type="pro-access">Buy Now</button>
            </div>
          </div>
        </div>
      </div>

    </div> -->

  </div>


</section>
