<header id="header">
  <div class="container">
    <div id="logo" class="pull-left">
      <h1><a href="#main">Tech<span>4</span>Amazonia</a></h1>
    </div>
    <nav id="nav-menu-container">
      <ul class="nav-menu">
        <li class="menu-active"><a href="#intro">Inicio</a></li>
        <li><a href="#about">Acerca de</a></li>
        <li><a href="#schedule">Horarios</a></li>
        <li><a href="#organizations">Organizaciones</a></li>
        <li class="buy-tickets"><a href="#buy-tickets">Donaciones</a></li>
      </ul>
    </nav>
  </div>
</header>
