  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">Tech<span>4</span>Amazonia</h1>
      <p class="mb-4 pb-0">Ciclo de charlas y talleres para recaudar
        fondos y combatir los incendios en nuestra Chiquitanía.</p>
      <!-- <a href="https://www.youtube.com/watch?v=JCs4uKFeK-A" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a> -->
      <a href="#about" class="about-btn scrollto">Acerca de Tech4Amazonia</a>
    </div>
  </section>
