<section id="organizations" class="section-with-bg wow fadeInUp">
  <div class="container">
    <div class="section-header">
      <h2>Organizaciones</h2>
      <p>Las organizaciones donde enviaremos todo lo recaudad y toda la indumentaria, que fue recolectada en nuestro
        Ciclo de Talleres y Charlas.
      </p>
    </div>
    <div class="row no-gutters supporters-wrap clearfix">
      <div class="col-lg-3 col-md-4 col-xs-6">
        <div class="supporter-logo">
          <img src="../../../assets/img/organizations/sendaverde.jpg" class="img-fluid" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
