  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-6 col-md-6 footer-info">
            <h2><a href="#main">Tech<span>4</span>Amazonia</a></h2>
            <p>Ciclo de charlas y talleres para recaudar
              fondos y combatir los incendios en nuestra Chiquitanía.</p>
          </div>

          <div class="col-lg-6 col-md-6 footer-contact">
            <div class="social-links">
              <a href="https://www.facebook.com/Tech4Amazonia/" class="facebook"><i class="fa fa-facebook"></i></a>
            </div>

          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong>Tech4Amazonia</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Adapted in Angular by <a href="https://twitter.com/_GD_DEV_">Guillermo David</a>
      </div>
      <div class="credits">
        Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a>
      </div>
    </div>
  </footer>
